<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />

    <title>Homepage | Ecom</title>

    <meta name="description" content="{{ value }}" />
    <meta name="keywords" content="{{ value }}" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />

    <link rel="alternate" hreflang="en-gb" href="https://www.marcandrew.net/">

    <link rel="canonical" href="https://www.marcandrew.net/">

    <link rel="stylesheet" type="text/css" href="css/style.css" />


    <script src="//localhost:35729/livereload.js"></script>
</head>

<body>

<div class="wrapper">

    <header id="header" class="header" role="banner">

        <div class="header-top">
            <!-- build:include /components/header/promo-msg.html -->
            <!-- /build -->
        </div>
        
        <div class="header-main flex">
            <!-- build:include /components/header/main-left.html -->
            <!-- /build -->

            <!-- build:include /components/header/brand.html -->
            <!-- /build -->

            <!-- build:include /components/header/main-right.html -->
            <!-- /build -->
        </div>

        <div class="header-bottom">
            <!-- build:include /components/header/primary-nav.html -->
            <!-- /build -->
        </div>

    </header>


    <main id="main" class="main" role="main">



    </main>


    <footer id="footer" class="footer" role="contentinfo">
        <div class="inner">

            footer

        </div>
    </footer>

    <!-- build:include /components/footer.html -->
    <!-- /build -->
</div>

<script src="js/script.js" type="text/javascript" async></script>

</body>

</html>