<div class="header-main-left">
    <nav class="nav" role="navigation">
        <ul class="nav__list flex">
            <li class="nav__header-list-item nav--list-item-burger">
                <!-- Class option:  btn--burger-active -->
                <button type="button" class="btn btn--burger trans--all-before-after">
                    <span class="btn__burger-icon trans--all-before-after">Navigation</span>
                </button>
            </li>
            <li class="nav__header-list-item nav--list-item-country">
                <span class="nav__list-txt">Shipping to:</span>
                <button type="button" class="cta cta--bold trans--all" title="Change shipping destionation">
                    United Kingdom (£)
                </button>
            </li>
        </ul>
    </nav>
</div>