<nav class="nav nav--primary" role="navigation">
    <ul class="nav__list nav--list-primary flex flex--justify-center">
        <li class="nav__list-item nav--list-item-first-level nav--list-item-with-sub">
            <a href="#" class="nav__list-link nav--list-link-first-level">
                <span class="nav__list-link-txt 
                            trans--all-before-after 
                            trans--ease-in-out 
                            trans--delay">New</span>
            </a>

            <div class="nav__sub">
                <div class="nav__sub-inner flex">

                    <div class="nav__sub-col">
                        <ul class="nav__list nav--list-sub">
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level nav--list-link-second-level-title trans--all">Clothing</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">All Clothing</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">Jackets</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">Blazers</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">Jumpers</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">Cardigans</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">Shirts</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">Polos</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">T-shirts</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">Trousers &amp; Shorts</a>
                            </li>
                        </ul>
                    </div>

                    <div class="nav__sub-col">
                        <ul class="nav__list nav--list-sub">
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="#" class="nav__list-link nav--list-link-second-level nav--list-link-second-level-title trans--all">
                                    Footwear
                                </a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">All Footwear</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">Trainers</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">Sandals</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">Boots</a>
                            </li>
                        </ul>
                    </div>

                    <div class="nav__sub-col">
                        <ul class="nav__list nav--list-sub">
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="#" class="nav__list-link nav--list-link-second-level nav--list-link-second-level-title trans--all">
                                    Accessories
                                </a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">All Accesories</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">Bags</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">Belts</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">Scarves</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">Hats and Gloves</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">Ties and Pocket Squares</a>
                            </li>
                            <li class="nav__list-item nav--list-item-second-level">
                                <a href="" class="nav__list-link nav--list-link-second-level trans--all">Socks</a>
                            </li>
                        </ul>
                    </div>

                    <div class="nav__sub-col flex">
                        <div class="nav__content">
                            <div class="img img--wrapper">
                                <a href="" class="img__link">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Ecom Img">
                                </a>
                            </div>
                            <div class="nav__content-main">
                                <span class="nav__content-title">New T-Shirts</span>
                                <a href="" class="cta trans--all">Shop now</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </li>
        <li class="nav__list-item nav--list-item-first-level nav--list-item-with-sub">
            <a href="#" class="nav__list-link nav--list-link-first-level">
                <span class="nav__list-link-txt 
                            trans--all-before-after 
                            trans--ease-in-out 
                            trans--delay">Women</span>
            </a>
        </li>
        <li class="nav__list-item nav--list-item-first-level nav--list-item-with-sub">
            <a href="#" class="nav__list-link nav--list-link-first-level">
                <span class="nav__list-link-txt 
                            trans--all-before-after 
                            trans--ease-in-out 
                            trans--delay">Men</span>
            </a>
        </li>
        <li class="nav__list-item nav--list-item-first-level nav--list-item-with-sub">
            <a href="#" class="nav__list-link nav--list-link-first-level">
                <span class="nav__list-link-txt 
                            trans--all-before-after 
                            trans--ease-in-out 
                            trans--delay">Children</span>
            </a>
        </li>
        <li class="nav__list-item nav--list-item-first-level nav--list-item-with-sub">
            <a href="#" class="nav__list-link nav--list-link-first-level">
                <span class="nav__list-link-txt 
                            trans--all-before-after 
                            trans--ease-in-out 
                            trans--delay">Inspiration</span>
            </a>
        </li>
        <li class="nav__list-item nav--list-item-first-level nav--list-item-with-sub">
            <a href="#" class="nav__list-link nav--list-link-first-level">
                <span class="nav__list-link-txt 
                            trans--all-before-after 
                            trans--ease-in-out 
                            trans--delay">Sale</span>
            </a>
        </li>
    </ul>

    <ul class="nav__list nav--list-additional">
        <li class="nav__list-item nav--list-item-first-level">
            <a href="" class="nav__list-link nav--list-link-first-level">
                <span class="nav__list-link-txt">Store Locator</span>
            </a>
        </li>
        <li class="nav__list-item nav--list-item-first-level">
            <a href="" class="nav__list-link nav--list-link-first-level">
                <span class="nav__list-link-txt">Login / Register</span>
            </a>
        </li>
        <li class="nav__list-item nav--list-item-first-level">
            <span class="nav__list-txt">Shipping to:</span>
            <button type="button" class="cta cta--bold trans--all" title="Change shipping destionation">
                United Kingdom (£)
            </button>
        </li>
    </ul>
</nav>