/**
 Flex
**/

.flex {
    // Default styling
    display: flex;
    flex-wrap: wrap;

    //
    //------------------------------- Start Modifier
    //

    @at-root #{&}--justify-center {
        justify-content: center;
    }

    @at-root #{&}--justify-end {
        justify-content: flex-end;
    }

    @at-root #{&}--align-center {
        align-items: center;
    }
}