/**
 Images
**/

.img {
    $imgParent: &;

    //
    //------------------------------- Start Element
    //

    //-- ELEMENT: Image link
    @at-root #{&}__link {
        display: block;
        width: 100%;
        line-height: 0;

        img {
            width: 100%;
        }

        &:focus {
            outline: px(1) dotted $colorGrey;
        }
    }

    //
    //------------------------------- Start Modifier
    //

    //-- MODIFIER: Image Wrapper
    @at-root #{&}--wrapper {
        width: 100%;
    }
}