/**
 Nav
**/

.nav {
    // Variable for root id: #{$navParent}
    $navParent: &;

    position: relative;

    //
    //------------------------------- Start Element
    //

    //-- ELEMENT: Primary Navigation list link
    @at-root #{&}__list-link {
        position: relative;
        display: block;
        outline: none;
        font-family: $font-2;
        font-size: px(13);
        letter-spacing: px(0.5);
    }
    //-- ELEMENT: Primary Navigation list link text
    @at-root #{&}__list-link-txt {
        position: relative;
        display: block;
        height: 100%;

        // Line below the text with 0% width
        // Width changes to 100% by hover or focus
        &:after {
            position: absolute;
            width: 0%;
            height: px(2);
            content: '';
            background-color: $colorBlack;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0 auto;

            @include media(screen,max,767px) {
                content: normal;
            }
        }
    }
    //-- ELEMENT: Primary Navigation sub navigation
    @at-root #{&}__sub {
        background-color: #fff;
    }
    //-- ELEMENT: Primary Navigation sub navigation inner
    @at-root #{&}__sub-inner {
        max-width: px(1300);
        margin: 0 auto;

        @include media(screen,max,767px) {
            height: 100%;
            overflow-y: auto;
        }
    }
    //-- ELEMENT: Primary Navigation sub navigation col
    @at-root #{&}__sub-col {
        width: 25%;
        padding: 0 px(10);

        @include media(screen,max,767px) {
            width: 100%;
            padding: 0;
        }
    }
    //-- ELEMENT: Primary Navigation sub navigation content
    @at-root #{&}__content {
        width: 100%;
    }
    //-- ELEMENT: Primary Navigation sub navigation content main
    @at-root #{&}__content-main {
        padding: px(10) 0 0;
    }
    //-- ELEMENT: Primary Navigation content title for the sub navigation
    @at-root #{&}__content-title {
        display: block;
        font-family: $font-2;
        font-size: px(13);
        font-weight: 500;
        line-height: px(16);
        letter-spacing: px(1.5);
        text-transform: uppercase;
    }
    //-- ELEMENT: Header Main Navigation list item
    @at-root #{&}__header-list-item {
        padding: 0 px(5);

        @include media(screen,max,480px) {
            padding: 0;
        }
    }
    //-- ELEMENT: Header Main Navigation list text
    @at-root #{&}__header-list-txt {
        margin-right: px(3);
        font-size: px(13);
        line-height: px(14);
    }

    //
    //------------------------------- Start Modifier
    //

    //-- MODIFIER: for nav
    @at-root #{&}--primary {
        @include media(screen,max,767px) {
            position: fixed;
            background-color: $colorGreyLight;
            top: px(85);
            left: 0;
            width: 100%;
            height: calc(100% - 85px);
            overflow-y: auto;
        }
    }
    //-- MODIFIER: Primary Navigation for nav__list
    @at-root #{&}--list-primary {
        @include media(screen,max,767px) {
            background-color: #fff;
        }
    }
    //-- MODIFIER: Primary Navigation for nav__list / Mobile view only
    @at-root #{&}--list-additional {
        display: none;

        @include media(screen,max,767px) {
            display: block;
        }
    }
    //-- MODIFIER: Primary Navigation for nav__list-link
    @at-root #{&}--list-link-first-level {
        font-weight: 500;
        text-transform: uppercase;
        height: px(40);
        padding: px(14) px(15) 0;
        z-index: 1;

        &:after {
            position: absolute;
            display: block;
            content: '';
            background-color: $colorBlack;
            width: px(1);
            height: px(13);
            top: px(13);
            right: 0;

            @include media(screen,max,767px) {
                content: normal;
            }
        }

        &:hover,
        &:focus {

            #{$navParent}__list-link-txt {
                &:after {
                    width: 100%;
                }
            }
        }

        &:focus {
            outline: px(1) dotted $colorGrey;
        }
    }
    //-- MODIFIER: Primary Navigation for nav__list-item
    @at-root #{&}--list-item-first-level {
        @include media(screen,max,767px) {
            width: 100%;
        }
        
        &:last-child {

            #{$navParent}--list-link-first-level{

                &:after {
                    content: normal;
                }
            }
        }
    }
    //-- MODIFIER: Primary Navigation for nav__list-item
    @at-root #{&}--list-item-with-sub {
        @include media(screen,max,767px) {
            position: relative;

            &:before {
                position: absolute;
                display: block;
                border: px(2) solid $colorGreyDark;
                border-bottom: none;
                border-left: none;
                content: '';
                width: px(8);
                height: px(8);
                top: px(16);
                right: px(20);
                transform: rotate(45deg);
            }
        }
    }
    //-- MODIFIER: Primary Navigation for nav__sub
    @at-root #{&}--sub-second-level {
        // display: none;
        position: absolute;
        width: 100%;
        top: px(40);
        left: 0;
        padding: px(30) px(5);

        @include media(screen,max,767px) {
            position: fixed;
            top: px(85);
            left: 0;
            width: 100%;
            height: calc(100% - 85px);
            padding: 0;
            z-index: 2;
        }
    }
    //-- MODIFIER: Primary Navigation for nav__list-link
    @at-root #{&}--list-link-second-level {
        display: inline-block;
        border-bottom: px(1) solid transparent;
        font-family: $font-2;
        font-size: px(13);
        font-weight: 500;
        line-height: px(16);
        letter-spacing: px(1.5);
        text-transform: uppercase;
        padding: px(2) 0 0;

        &:hover,
        &:focus {
            border-color: $colorBlack;
        }

        &:focus {
            outline: px(1) dotted $colorGrey;
        }

        @include media(screen,max,767px) {
            display: block;
            border-bottom: none;
            height: px(40);
            padding: px(14) px(15) 0;
        }
    }
    //-- MODIFIER: Primary Navigation for nav__sub
    @at-root #{&}--sub-third-level {
        padding: px(2) 0 0;

        @include media(screen,max,767px) {
            position: fixed;
            top: px(85);
            left: 0;
            width: 100%;
            height: calc(100% - 85px);
            padding: 0;
            z-index: 2;
        }
    }
    //-- MODIFIER: Primary Navigation for nav__list-item
    @at-root #{&}--list-item-third-level {
        padding: px(3) 0;

        @include media(screen,max,767px) {
            padding: 0;
        }
    }
    //-- MODIFIER: Primary Navigation for nav__list-link
    @at-root #{&}--list-link-third-level {
        display: inline-block;
        border-bottom: px(1) solid transparent;
        font-size: px(13);
        line-height: px(16);
        letter-spacing: px(0.5);
        padding: px(2) 0 0;

        &:hover,
        &:focus {
            border-color: $colorBlack;
        }

        &:focus {
            outline: px(1) dotted $colorGrey;
        }

        @include media(screen,max,767px) {
            display: block;
            border-bottom: none;
            height: px(40);
            padding: px(14) px(15) 0;
        }
    }
    //-- MODIFIER: Header Main Navigation for nav__header-list-item
    @at-root #{&}--list-item-country {
        padding: px(5) 0 0;

        @include media(screen,max,767px) {
            display: none;
        }
    }
    //-- MODIFIER: Header Main Navigation for nav__header-list-item
    @at-root #{&}--list-item-burger {
        display: none;

        @include media(screen,max,767px) {
            display: block;
            padding: 0;
        }
    }
    //-- MODIFIER: Header Main Navigation for nav__header-list-item
    @at-root #{&}--list-item-search {
        @include media(screen,max,480px) {
            display: none;
        }
    }
    //-- MODIFIER: Header Main Navigation for nav__header-list-item
    @at-root #{&}--list-item-account {
        @include media(screen,max,767px) {
            display: none;
        }
    }
    //-- MODIFIER: Header Main Navigation for nav__header-list-item
    @at-root #{&}--list-item-stores {
        @include media(screen,max,767px) {
            display: none;
        }
    }
}